@font-face {
  font-family: Montserrat-light;
  src: url("../fonts/Montserrat-Light_0.otf");
}

@font-face {
  font-family: Montserrat-semibold;
  src: url("../fonts/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: Montserrat-bold;
  src: url("../fonts/Montserrat-Bold_0.otf");
}

@font-face {
  font-family: Montserrat-extrabold;
  src: url("../fonts/Montserrat-ExtraBold.otf");
}

.center {
  text-align: center;
  margin: auto;
}

.vertical-center {
  align-items: center;
  margin: auto;
}
h1 {
  font-family: "Montserrat-bold";
}
.ivu-btn {
  background-color: #338dc8;
  color: #ffffff;
  border-radius: 30px;
  width: 180px;
  height: 48px;
  font-size: 14px;
  vertical-align: center;
}

.top-60 {
  margin-top: 60px;
}

.font-20 {
  font-size: 20px;
}

.ivu-form-item-label {
  font-size: 22;
  font-family: "Montserrat-light";
}

.ivu-input {
  height: 48px;
  font-size: 24px;
  font-family: "Montserrat-light";
}

.ivu-select,
.ivu-select-selection,
.ivu-select-selected-value {
  height: 48px;
  font-size: 24px;
  font-family: "Montserrat-light";
}

.ivu-radio-wrapper {
  font-size: 24px;
  font-family: "Montserrat-light";
}

.scroll {
  overflow-x: scroll;
  width: 90vw;
  height: 90vh;
  line-height: 1.5;
}

.justify {
  text-align: justify;
}
